[submodule "Animations2"]
	path = Animations2
	url = https://github.com/carrington-manyuchi/Animations.git
[submodule "labels"]
	path = labels
	url = https://github.com/carrington-manyuchi/Labels-UIKit.git
[submodule "StoryboardNavigations"]
	path = StoryboardNavigations
	url = https://github.com/carrington-manyuchi/Navigations.git
[submodule "NavigationsWithCode"]
	path = NavigationsWithCode
	url = https://github.com/carrington-manyuchi/NavigationControllerWithCode.git
[submodule "TabBarOneProgrammatic"]
	path = TabBarOneProgrammatic
	url = https://github.com/carrington-manyuchi/TabBar-Progr.git
[submodule "TabBarTwoProgrammatic"]
	path = TabBarTwoProgrammatic
	url = https://github.com/carrington-manyuchi/TabBar.git
